<% var lang = page.lang === 'zh-cn' ? 'zh-cn' : 'en' %>
<!DOCTYPE html>
<html lang="<%- lang %>">
  <head>
    <meta charset="utf-8">

    <title><%- config.title %> | <%- page.slogan || page.title %></title>
    <meta name="keywords" content="Kotlin, ORM, SQL, DSL, sequence">
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 站内所有 HTTP 资源，一律替换为 HTTPS -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <!-- 协议降级，跳转到非 HTTPS 的站点时，仍然携带 referrer 请求头 -->
    <meta name="referrer" content="always" />

    <!-- Disable Baidu transformation -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <!-- stylesheets -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="<%- url_for('vendors/algolia-instant-search/instantsearch.min.css') %>">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
    <link href="<%- url_for('style/doc.css') %>" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%- url_for('images/favicon.ico') %>">
  </head>
  <body>

    <script type="text/javascript">
      window.__INITIAL_STATE__ = <%- JSON.stringify(initial_state) %>;

      if (window.localStorage) {
        if (window.localStorage.getItem('navigation_collapsed') === 'true') {
          document.getElementsByTagName('body')[0].classList.add('doc-navigation--is-collapsed')
        }
      }
    </script>

    <div id="navigation-container"><%- react_component('Navigation', {page, config, url_for, data: site.data}) %></div>

    <div class="doc-content">
      <div id="lang-switcher-container" class="lang-switcher-container">
        <%- react_component('LangSwitcher', {page, url_for}) %>
      </div>

      <div class="dc-page">
        <div class="dc-card">

          <div id="doc-search-results" class="doc-search-results">
            <div id="doc-search-stats"></div>
            <div id="doc-search-hits"></div>
            <div id="doc-search-pagination"></div>
          </div>

          <%- body %>
        </div>
      </div>

      <div class="doc-footer">
        <% var year = new Date().getFullYear() %>
        &copy; <%- year %> liuwj.me. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> <br/>
        Hosted by
        <a href="https://github.com/vincentlauvlwj/Ktorm">GitHub</a>
        <a href="https://github.com/vincentlauvlwj/Ktorm/stargazers" >
          <img src="https://img.shields.io/github/stars/vincentlauvlwj/Ktorm.svg?style=social" alt="Stars">
        </a>
      </div>
    </div>

    <!-- js vendors -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <!-- js source  -->
    <script src="<%- url_for('script/doc.js') %>"></script>

    <!-- algolia instant search -->
    <!--<script type="text/javascript" src="<%- url_for('vendors/algolia-instant-search/instantsearch.min.js') %>"></script>-->
    <!--<script type="text/javascript" src="<%- url_for('script/algolia-search.js') %>"></script>-->

    <!-- algolia docsearch -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      docsearch({
        apiKey: "8cd6a3b7dc33b50b89c7e9b11110717a",
        indexName: "ktorm",
        inputSelector: "#doc-search-input",
        algoliaOptions: { facetFilters: ["lang:<%- lang %>", "tags:doc"] },
        autocompleteOptions: { hint: false, appendTo: "body" },
        debug: false
      });
    </script>

    <script>
      // fix code highlight
      (function() {
        $(".kotlin .code .keyword").each(function() {
          var node = $(this);
          if (node.text() === "where") {
            node.removeClass("keyword");
          }
        });
      })();
    </script>
    <script type="text/javascript">
      // tencent analysis
      (function() {
        var hm = document.createElement("script");
        hm.src = "//tajs.qq.com/stats?sId=66145320";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
