<!DOCTYPE html>
<html lang="<%- page.lang %>>">
  <head>
    <meta charset="utf-8">

    <title><%- config.title %> | <%- page.title %> </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 站内所有 HTTP 资源，一律替换为 HTTPS -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <!-- 协议降级，跳转到非 HTTPS 的站点时，仍然携带 referrer 请求头 -->
    <meta name="referrer" content="always" />

    <!-- Disable Baidu tranformation -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="keywords" content="Kotlin, ORM, SQL, DSL, vince" />

    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" href="<%- url_for('style/doc.css') %>">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%- url_for(config.theme_config.favicon) %>">

    <link rel="canonical" href="<%- theme.url + theme.root + page.canonical_path %>">
  </head>
  <body>

    <script>window.__INITIAL_STATE__ = <%- JSON.stringify(initial_state) %></script>

    <div id="react-navigation-root"><%- react_component('Navigation', initial_state) %></div>
    
    <%- body %>

    <!-- js vendors -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <!-- js source  -->
    <script src="<%- url_for('script/doc.js') %>"></script>

    <!-- algolia instant search -->
    <link rel="stylesheet" type="text/css" href="<%- url_for('vendors/algolia-instant-search/instantsearch.min.css') %>">
    <script type="text/javascript" src="<%- url_for('vendors/algolia-instant-search/instantsearch.min.js') %>"></script>
    <script type="text/javascript" src="<%- url_for('script/algolia-search.js') %>"></script>
  </body>
</html>
