<div class="doc-content">

  <div id="lang-switcher-container" class="lang-switcher-container">
    <%- react_component('LangSwitcher', {page, url_for}) %>
  </div>

  <div class="dc-page">
    <div class="dc-card">

      <div id="doc-search-results" class="doc-search-results">
        <div id="doc-search-stats"></div>
        <div id="doc-search-hits"></div>
        <div id="doc-search-pagination"></div>
      </div>

      <article id="page-content" class="doc-formatting">
        <%- react_component('LogoSection', {page, url_for}) %>

        <%- page.content %>

        <div id="support-footer-container">
          <%- react_component('SupportFooter', {page, url_for, data: site.data}) %>
        </div>
      </article>
    </div>
  </div>

  <div class="doc-footer">
    <% var year = new Date().getFullYear() %>
    &copy; <%- year %> Vince. Hosted by <a href="https://github.com/vincentlauvlwj/Ktorm">GitHub</a>
  </div>
</div>
